<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='assets/images/icon/logo_bike_vPi_icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>DataBike</title>

    <style>
        .logo {
            width: 200px;
        }

        body {
            font-family: "Montserrat";
        }
    </style>
</head>

<body>
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="https://amorcecian.pythonanywhere.com/">
                    <!-- Logo icon -->
                    <img src="{{ url_for('static', filename='assets/images/logoDataBike.png') }}"
                    class="light-logo logo" alt="logo" />
                    <!--End Logo icon -->
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i>
                </a>

            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <!-- ============================================================== -->
                    <!-- create new -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-md-block">DataBike</span>
                        </a>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">
                </ul>
            </div>
        </nav>
    </header>
    <main class="row">
        <section id="text-container" class="embed-container col-lg-4 col-md-4 col-sm-4 mb-5 ml-5 mt-5">
            <div>
                <p>This sample is developed using Flask framework.
                    <br>
                    In order to see a different report, make changes to the <i>config.py</i> file.
                </p>
                <p>Code is present in the following files:
                <ol>
                    <li>app.py</li>
                    <li>aadservice.py</li>
                    <li>pbiembedservice.py</li>
                    <li>index.js</li>
                    <li>index.html</li>
                    <li>index.css</li>
                </ol>
                </p>
            </div>
        </section>
        <section id="report-container"
            class="embed-container col-lg-offset-4 col-lg-7 col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7 mt-5">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container m-5">
        </section>
    </main>
    <footer class="embed-container col-lg-12 col-md-12 col-sm-12 mb-0 mt-4">
        <p class="text-center">
            For Live demo and more code samples please visit <a href="https://aka.ms/pbijs">https://aka.ms/pbijs</a>
            <br>
            For JavaScript API, please visit <a href="https://aka.ms/PowerBIjs">https://aka.ms/PowerBIjs</a>
        </p>
    </footer>
    <script src="{{ url_for('static', filename='js/external/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/powerbi.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>